body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #555;
    color: white;
}

.content p, .content a:any-link {
    background-color: #555;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav router-link {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav router-link:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #04AA6D;
    color: white;
}